<section class="main-container">
  <div class="container">
    
    <div class="alert alert-success" role="alert">
    	<strong>Twoje zamówienie zostało przyjęte.</strong> Po ustaleniu szczegółów z wydawnictwem otrzymasz wiadomość e-mail.
    </div>
    
    <h3>Szczegóły zamówienia</h3>
			<ul class="list">
				<li><strong class="vertical-divider">Imię i nazwisko </strong> <%= @order.nazwa %> </li>
				<li><strong class="vertical-divider">Adres e-mail </strong> <%= @order.email %> </li>
				<li><strong class="vertical-divider">Ilosc </strong> <%= @order.ilosc %> </li>
			</ul>
    
    
    
    

  </div>
</section>