<!-- main-container start -->
<!-- ================ -->
<section class="main-container">
  <div class="container">
    <h1 class="page-title">Wybierz zawody</h1>
    <div class="row">
      <!-- main start -->
      <!-- ================ -->
      <div class="main col-md-12">

        <!-- Image Boxes start -->
        <!-- ============================================================================== -->

        <div class="space-bottom"></div>
        
        <div class="row grid-space-20">
          <div class="col-md-4">
            <div class="image-box mb-20" data-animation-effect="fadeInDown" data-effect-delay="300">
              <div class="overlay-container">
                <img src="assets/mas_logo2_bw.jpg" alt="">
                <%= link_to image_tag("mas_logo2.jpg"), new_team_path, class: "overlay small" %>
              </div>
              <%= link_to "VII Memoriał Andrzeja Skwirczyńskiego", new_team_path, class: "btn btn-light-gray btn-lg btn-block" %>
            </div>
          </div>
            
          <div class="col-md-4">
            <div class="image-box mb-20" data-animation-effect="fadeInLeft" data-effect-delay="200">
              <div class="overlay-container">
                <img src="assets/mas_logo1_bw.jpg" alt="">
                <a href="#" class="overlay small">
                  <img src="assets/mas_logo1.jpg" alt="">
                  <span>Lorem Ipsum</span>
                </a>
              </div>
              <a href="#" class="btn btn-light-gray btn-lg btn-block">V Memoriał Kogoś Innego</a>
            </div>
          </div>
            
          <div class="col-md-4">
            <div class="image-box mb-20" data-animation-effect="fadeInLeft" data-effect-delay="100">
              <div class="overlay-container">
                <img src="assets/portfolio-6.jpg" alt="">
                <a href="portfolio-item.html" class="overlay small">
                  <i class="fa fa-link"></i>
                  <span>Lorem Ipsum</span>
                </a>
              </div>
              <a href="portfolio-item.html" class="btn btn-light-gray btn-lg btn-block">Project Title</a>
            </div>
          </div>
        </div>
      </div>
      <!-- main end -->

    </div>
  </div>
</section>
<!-- main-container end -->